{% extends "base.html" %}
{% block content %}
{% for part in parts %}
    <div style='display: block; margin-left: {{ part.level }}em; margin-bottom: 1em;'>
        <div style='float: left; font-weight: bold;'>{{ part.name }}.</div>
        <div style='float: left; margin-left: 1em; width: 33em;'>
            {{part.text }}
        </div>
        <br style='clear: both;' />
    </div>
{% endfor %}
<hr />
{{ first_order|length }}
{% for ref in first_order %}
    <a href='{{ ref.get_absolute_url }}' id='r{{ ref.pk }}'>{{ ref.name }}</a>, 
{% endfor %}
<hr />
{{ second_order|length }}
{% for ref in second_order %}
    <a href='{{ ref.get_absolute_url }}' id='r{{ ref.pk }}'>{{ ref.name }}</a>, 
{% endfor %}
<hr />
{% for k, v in mappings.items %}
r{{ k }} =&gt; r{{ v }}<br />
{% endfor %}


{% endblock %}
